/* Entire html document */
html, body{
    scroll-behavior: smooth;
}

/* Body of html document */
body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

/* Header of html document */
header {
    height: 70px;
    background-color: rgb(232, 224, 240);
}
/* Navigation buttons (about and features */
.nav {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    line-height: 90px;
    color: rgb(72, 33, 95);
}
/* Features navigator */
#nav_features {
    padding-left: 10%;
    padding-right: 75px;
    background-color: white;
}
#nav_features:hover {
    cursor: pointer;
}
/* About navigator */
#nav_about {
    margin-right: 50%;
}
#nav_about:hover {
    cursor: pointer;
}

/* Container for first picture */
.big_image {
    width: 70%;
}

/* First picture on page */
.background_image {
    width: 90%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First page that firts entire screen */
.first_page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
}

/* Introductory Text */
.big_text {
    width: 30%;
    margin-right: 50px;
}
.big_text > h1 {
    width: 100%;
}
.big_text > p {
    font-size: larger;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

/* Title of project */
.title {
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
    border-bottom: 0.5px solid grey;
    font-family: 'Poppins', sans-serif;
    color: rgb(72, 33, 95);
}

/* Titles for each feature */
.short_title {
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 0.5px solid grey;
    font-family: 'Poppins', sans-serif;
    color: rgb(72, 33, 95);
}

/* Title for student view Feature */
#stu_title {
    width: 60%;
    margin-left: 50px;
}

/* Login and signup options */
.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Signup button */
.signup {
    background-color: rgb(72, 33, 95);
    color: white;
    margin-left: 30%;
    border: 0.5px solid grey;
    height: 50px;
    width: 200px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    transition: all .4s ease-in-out;
}
.signup:hover{
    background-color: white;
    color: rgb(72, 33, 95);
}
.signup:hover > a {
    color: rgb(72, 33, 95);
}
.signup > a {
    color: white
}

/* Login button */
.login {
    margin-right: 30%;
    border: 0.5px solid grey;
    height: 50px;
    width: 200px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    transition: all .4s ease-in-out;
}
.login:hover {
    border-color: rgb(72, 33, 95);
}

/* Second section of page that fits entire screen */
.second_page {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

/* Container for second image on screen */
.second_image {
    width: 100%;
    height: auto;
}

/* Second image */
 #image2 {
     width: 100%;
 }

 /* Third section of page that fits the entire screen */
.third_page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5%;
    padding-bottom: 10%;
}

/* Screenshot of class view form the application */
 #class_image {
     width: 60%;
     height: auto;
     transition: all .4s ease-in-out;
     margin-left: 150px;
     border: 0.5px solid grey;
 }

 /* Text describing class views feature */
 #class_text {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 30px;
 }
 #class_text > p {
     color: rgb(72, 33, 95);
     font-size: larger;
     font-family: 'Poppins', sans-serif;
     text-align: justify;
     padding-bottom: 30px;
 }
 #class_text > a {
     margin-left: 50px;
 }

 /* Short text describing the student views */
 .short_text {
     margin-left: 10px;
     width: 50%;
     text-align: justify;
     color: rgb(72, 33, 95);
     font-size: larger;
 }

  /* Fourth section of page that fits the entire screen */
.fourth_page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    padding-bottom: 5%;
}

/* Third image on screen */
#image3 {
     width: 60%;
     height: 500px;
     transition: all .4s ease-in-out;
 }

 /* Screenshot of student view from the application */
 #student_view {
     width: 40%;
     height: 500px;
 }

 /* About section of page */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Title for about section */
#about_title {
    width: 40%;
    text-align: center;
    margin-right: 50%;
    margin-bottom: 30px;
}

/* Content in the about section */
.about_text {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.about_text > div > p {
    width: 60%;
    margin-left: 50px;
    text-align: justify;
}

/* Container for developer picture */
.my_pic {
    width: 40%;
}

/* Picture of developer */
.my_pic > #ope {
    height: auto;
    width: 200px;
    padding-right: 200px;
}

/* Github, twitter and LinkedIn links */
.links {
    width: 60%;
    margin-left: -50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.links > a > i {
    font-size: 1.5rem;
    padding: 5px;
}

/* For all the fontawesome tags */
i:hover {
    cursor: pointer;
}

/* styling for all links */
a {
    color: rgb(72, 33, 95);
}
a:hover {
    cursor: pointer;
}

/* Footer styling */
 footer {
     margin-top: 30px;
     height: 170px;
     background-color: rgb(232, 224, 240);
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
 }

 /* Button that takes you back to the top of page */
 .back_to_top {
     font-size: 1rem;
     height: 50px;
     width: 50px;
     text-align: center;
     line-height: 50px;
     background-color: rgb(72, 33, 95);
     color: white;
     border: 0.5px solid rgb(72, 33, 95);
     border-radius: 50%;
     transition: all .4s ease-in-out;
 }
 .back_to_top:hover {
     background-color: white;
     color: rgb(72, 33, 95);
 }

 /* Contact information in footer */
 .contacts {
     margin-left: 25%;
 }
 .contacts > a {
    color: black;
}

/* Title for contacts section */
 .contacts_header {
     padding-left: 50px;
 }

 /* Credits section in footer */
 .credits {
     margin-right: 25%;
 }
 .credits  > a {
    color: black;
}

/* Title for credits section */
 .credits_header {
     padding-left: 30px;
 }

 /* Container for demo video */
 .demo {
     display: flex;
     align-items: center;
     margin-left: 100px;
     width: 500px;
     height: 300px;
     margin-top: 50px;
     margin-bottom: 50px;
 }

 /* Demo video */
 .demo_video {
     width: 100%;
     height: 100%
 }
